.c-aboutme-container {
  position: relative;
  width: 33.87cm;
  height: 19.05cm;

  transform: scale(1.3);
}
.c-aboutme-img-container {
  position: absolute;
  height: fit-content;
  width: 17.98cm;
  top: 5.68cm;
  left: 14.78cm;
}
.c-aboutme-img-container img {
  max-width: 100%;
  height: auto;
}

.c-aboutme-info-box {
  position: absolute;
  height: 4.37cm;
  width: 19.05cm;
  top: 4.26cm;
  left: 3.31cm;
  background-color: #f9e076;
  opacity: 0.55;
  padding-top: 0.5cm;
  padding-left: 1cm;
  padding-right: 1cm;
}
.c-aboutme-info-container {
  position: absolute;
  height: 4.37cm;
  width: 19.05cm;
  top: 4.26cm;
  left: 3.31cm;
  background-color: transparent;
  padding-top: 0.5cm;
  padding-left: 1cm;
  padding-right: 1cm;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 18px;
  z-index: 1;
}

.c-aboutme-stylebox-container {
  position: absolute;
  height: 8.94cm;
  width: 17.18cm;
  top: 8.38cm;
  left: 11.78cm;
  background-color: #92dce5;
}
.c-aboutme-skills-container {
  position: absolute;
  height: 6.8cm;
  width: 18cm;
  top: 8cm;
  left: 1.41cm;
  background-color: #eee5e9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.c-aboutme-quote-container {
  position: absolute;
  height: 2.57cm;
  width: 17.18cm;
  top: 14.72cm;
  left: 16.6cm;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

.c-aboutme-skill {
  /*  border: 1px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-aboutme-skill-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
  height: 80px;
  width: 80px;
  background: #d64933;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 40px;
}

.c-aboutme-skill-info {
  padding-right: 0.35cm;
  padding-left: 0.35cm;
}

.c-aboutme-skill-info h5 {
  text-align: center;
}

.c-aboutme-skill-info p {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
