.c-project-container {
  display: grid;
  grid-template-rows: 7fr 3fr;
  height: 450px;
  width: 360px;
  background-color: transparent;
  border: 20px double #92dce5;
  margin: 1vw;
}

.c-project-img {
  width: 100%;
}
.c-project-name {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #92dce5;
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}

.c-project-container:hover {
  cursor: pointer;
  animation: project-select 0.5s;
  animation-fill-mode: forwards;
}

@keyframes project-select {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
