$mainColor: transparent;
$secondColor: #92dce5;
$navbarHeight: 8vh;
$footerHeight: 5vh;

@import "./projects";
@import "./aboutme";
@import "./contact";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.custom-full-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #2b303a, #7c7c7c);
  height: 400vh;
  width: 100vw;
  max-width: 100%;
}

.custom-footer {
  height: $footerHeight;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.custom-nav {
  position: fixed;
  height: $navbarHeight;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  background-color: transparent;
  z-index: 1;
}

.buttons-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.buttons-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-button {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 130px;
  color: $secondColor;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  border-radius: 0px;
}

.nav-button-logo {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  width: fit-content;
  color: $secondColor;
  font-family: "Tourney", cursive;
  border-radius: 0px;
  font-size: 50px;
}

.mainPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $mainColor;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.presentationBox {
  text-align: center;
  border: 10px double $secondColor;
  padding: 5%;
}

@keyframes prese {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 225px;
  }
}

@keyframes prese2 {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 112px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tourney", cursive;
  font-size: 225px;
  color: $secondColor;
  margin: 0;
  padding: 0;
  padding-bottom: 2%;
  animation: prese 3s;
  animation-fill-mode: forwards;
}

.mainTitle {
  font-size: 117px;
  margin: 0;
  padding: 0;
  padding-bottom: 1%;
  color: white;
  font-family: "Gemunu Libre", sans-serif;
}

.subTitle {
  font-size: 54px;
  margin: 0;
  padding: 0;
  color: $secondColor;
  font-family: "Quicksand", sans-serif;
}

@media screen and (max-width: 1140px) {
  .logo {
    font-size: 112px;
    animation: prese2 3s;
    animation-fill-mode: forwards;
  }
  .mainTitle {
    font-size: 58px;
  }
  .subTitle {
    font-size: 26px;
  }
}
@media screen and (max-width: 720px) {
  .custom-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nav-button {
    width: 100%;
  }
  .custom-slides-container {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 720px) {
  .nav-button:hover {
    color: black;
    cursor: pointer;
    animation: button 1.5s;
    animation-fill-mode: forwards;
  }
  .nav-button-logo:hover {
    color: black;
    cursor: pointer;
    animation: button 1.5s;
    animation-fill-mode: forwards;
  }
}

.nav-button:active {
  text-decoration: none;
  color: black;
  cursor: pointer;
  animation: button 0.5s;
  animation-fill-mode: forwards;
}
.nav-button-logo:active {
  text-decoration: none;
  color: black;
  cursor: pointer;
  animation: button 0.5s;
  animation-fill-mode: forwards;
}

@keyframes button {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $secondColor;
  }
}

.custom-border {
  border: 10px solid;
  width: 40%;
  height: 40%;
}

.second-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $mainColor;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.third-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.fourth-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9 {
  border: 2px solid white;
}
